.DatosObjetos {
  color: #e7e287;
  font-size: 130%;
  font-weight: bolder;
  text-align: left;
  padding-left: 4.7%;
}

.ImagenObjetos {
  width: 100%;
  height: 100%;
}

.TotalObjetos {
  padding-top: 12.5%;
  color: #e7e287;
  font-family: "Monaco", Monospace;
  font-size: 200%;
  font-weight: bold;
}

.Cabeza {
  margin-top: 3.5%;
  width: 85%;
  height: auto;
  cursor: pointer;
  border-radius: 75% 90% 70% 80%;
  transition: transform 0.1s ease-in-out;
}

.Cabeza:hover {
  transform: scale(1.03);
}

.Cabeza:active {
  transform: scale(0.97);
}

.Saltos {
  margin-block-start: -20px;
  color: #e7e287;
  font-family: "Monaco", Monospace;
  font-size: 2em;
}

.SPS {
  margin-block-start: -20px;
  color: #e7e287;
  font-family: "Monaco", Monospace;
  font-size: 1.5em;
}

.TitleEstadisticas {
  font-size: 225%;
}

.TitleLogros {
  font-size: 85%;
}

.Upgrades {
  width: 64px;
  height: 64px;
  cursor: pointer;
  border: #fff solid 2px;
  margin-top: 7px;
  margin-left: 7px;
  background-color: rgba(127, 127, 127, 0.25);
  transition: 0.5s;
}

.Upgrades:hover {
  transform: scale(1.1);
}

.Upgrades:active {
  transform: scale(1.05);
}

.TituloLogros {
  color: #e7e287;
  font-family: "Monaco", Monospace;
  font-size: 250%;
}

.AchievementsEmoji {
  height: 36px;
  width: 36px;
  margin: -10px;
}

.Version {
  position: absolute;
  padding: 0px;
  margin: 0px;
  font-size: medium;
}

.LoadScreen {
  cursor: none;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #000;
  opacity: 1;
}

.LoadedText {
  position: absolute;
  color: #fff;
  text-align: center;
  margin-top: 50vh;
  margin-left: 70vh;
}

.LoadingIcon {
  width: 256px;
  height: 256px;
  position: absolute;
  margin-top: 12.5vh;
  margin-left: 75vh;
  animation: 1000ms linear 100ms infinite IconRotate;
}