.Separador {
  height: 650px;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 100%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Izquierda Centro Derecha";
}

.Izquierda {
  height: auto;
  grid-area: Izquierda;
  border: #008b8b solid 2px;
  border-top: #008b8b solid 4px;
  border-bottom: #008b8b solid 4px;
  border-left: #008b8b solid 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Centro {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Mejoras" "Tienda";
  grid-area: Centro;
  border: #008b8b solid 2px;
  border-top: #008b8b solid 4px;
  border-bottom: #008b8b solid 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Mejoras {
  grid-area: Mejoras;
  border-bottom: #008b8b solid 2px;
}

.Tienda {
  grid-area: Tienda;
  border-top: #008b8b solid 2px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 25% 25% 25%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Torchic" "Cramorant" "Kabutops" "Crobat";
}

.Torchic {
  grid-area: Torchic;
}

.Cramorant {
  grid-area: Cramorant;
}

.Kabutops {
  grid-area: Kabutops;
}

.Crobat {
  grid-area: Crobat;
}

.Objetos {
  cursor: pointer;
  width: 80%;
  border: #008b8b solid 2px;
  margin-left: 10%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 30% 55% 15%;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Imagen Datos Total";
  transition: transform 0.2s;
}

.Objetos:hover {
  transform: scale(1.1);
}

.Imagen {
  grid-area: Imagen;
  border: #008b8b solid 2px;
}

.Datos {
  grid-area: Datos;
  border: #008b8b solid 2px;
  border-right: currentColor;
}

.Total {
  grid-area: Total;
  border: #008b8b solid 2px;
  border-left: currentColor;
}

.Derecha {
  height: auto;
  grid-area: Derecha;
  border: #008b8b solid 2px;
  border-top: #008b8b solid 4px;
  border-bottom: #008b8b solid 4px;
  border-right: #008b8b solid 4px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Estadisticas" "Logros";
}

.Estadisticas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "TituloEstadisticas" "ContenidoEstadisticas";
  grid-area: Estadisticas;
}

.TituloEstadisticas {
  grid-area: TituloEstadisticas;
}

.ContenidoEstadisticas {
  grid-area: ContenidoEstadisticas;
  font-size: small;
  padding-left: 10%;
  text-align: left;
    overflow-y: scroll;
  overflow-x: hidden;
}

.Logros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "TituloLogros" "ContenidoLogros";
  grid-area: Logros;
}

.TituloLogros {
  grid-area: TituloLogros;
}

.ContenidoLogros {
  grid-area: ContenidoLogros;
  overflow-y: scroll;
  overflow-x: hidden;
}