@keyframes LoadingOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes LoadingBackground {
  0% {
    background-color: #000;
  }
  50% {
    background-color: #000;
  }
  100% {
    background-color: #181d78;
  }
}

.GameScreen {
  animation: LoadingOpacity 3.5s;
}

body {
  animation: LoadingBackground 3.5s;
}