@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backgroundloading {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #191919;
  }
}

html {
  animation: backgroundloading 1.5s;
  background-color: #191919;
  user-select: none;
}

body {
  animation: loading 2.5s;
}

center {
  text-align: center;
}

h1,
h2,
h3 {
  color: #e6e6e6;
  font-family: verdana;
}

.a {
  color: #808080;
  text-decoration: underline #404040;
  cursor: pointer;
  transition: 0.5s;
}

.a:hover {
  color: #404040;
  text-decoration: underline #808080;
}

 ::selection {
  color: #f7f7f7;
  background: #7f7f7f;
}

.Pointer {
  cursor: pointer;
}

video {
  border: 2px #f7f7f7 solid;
  cursor: pointer;
  text-align: center;
  background-color: #000;
}

img {
  border: 2px #f7f7f7 solid;
  text-align: center;
  background-color: #fff;
  zoom: 65%;
  transition: 1s;
  border-radius: 50%;
}

img:hover {
  transform: scale(1.1);
  border-radius: 5%;
  border: 2px #f7f7f7 solid;
  background-color: #fff;
}