@keyframes loading {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

html {
  user-select: none;
}

body {
  animation: loading 2.5s;
  background-color: #ff00dc;
  background-image: url("img/background.png");
  background-repeat: repeat-x;
  background-size: cover;
}

center {
  text-align: center;
}

.h,
h1,
h2,
h3 {
  color: #e6e6e6;
  font-family: verdana;
  width: auto;
}

h2 {
  text-decoration: underline #808080 solid;
}

.a {
  color: #808080;
  text-decoration: underline #404040;
  cursor: pointer;
  transition: 0.5s;
}

.a:hover {
  color: #404040;
  text-decoration: underline #808080;
}

 ::selection {
  color: #f7f7f7;
  background: #7f7f7f;
}

video {
  width: 45%;
  height: auto;
  border: 2px #800030 solid;
  cursor: pointer;
  background-color: #000;
  transition: 1s;
  border-radius: 7.5%;
}

video:hover {
  transform: scale(1.1);
  border-radius: 0%;
}

img {
  width: 35%;
  height: auto;
  border: 2px #800030 solid;
  background-color: #000;
  zoom: 65%;
  border-radius: 50%;
  transition: 1s;
}

img:hover {
  transform: scale(1.1);
  border-radius: 5%;
}

::-webkit-scrollbar {
  width:12px;
  height:3px;
}
::-webkit-scrollbar-track-piece {
  background-color:rgba(0, 0, 0, 1);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 100);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(170, 170, 170);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(50, 50, 50);
}