@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  user-select: none;
}

body {
  animation: loading 2.5s;
  background-color: #000;
  background-image: url("img/background.png");
  background-repeat: repeat-x;
  background-size: 100%;
}

center {
  text-align: center;
}

h1,
h2,
h3 {
  color: #e6e6e6;
  font-family: verdana;
}

h2 {
  text-decoration: underline #808080 solid;
}

.a {
  color: #808080;
  text-decoration: underline #404040;
  cursor: pointer;
  transition: 0.5s;
}

.a:hover {
  color: #404040;
  text-decoration: underline #808080;
}

 ::selection {
  color: #f7f7f7;
  background: #7f7f7f;
}

.Pointer {
  cursor: pointer;
}

video {
  border: 2px #800030 solid;
  cursor: pointer;
  text-align: center;
  background-color: #000;
  transition: 1s;
  border-radius: 7.5%;
}

video:hover {
  transform: scale(1.1);
  border-radius: 0%;

}

img {
  border: 2px #800030 solid;
  background-color: #000;
  zoom: 65%;
  border-radius: 50%;
  transition: 1s;
}

img:hover {
  transform: scale(1.1);
  border-radius: 5%;
}