.bar {
    position: absolute;
    display: grid;
    grid-template-columns: 33.33vw 33.33vw 33.33vw;
    grid-template-rows: 14vh;
    grid-auto-columns: 100vw;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "mainbar shopbar otherbar";
    bottom: 0vh;
    background-image: url(../img/bar/bgbar.png);
}
.mainbar {
    grid-area: mainbar;
    background-image: url(../img/bar/bar1.png);
}
.shopbar {
    grid-area: shopbar;
    background-image: url(../img/bar/bar2.png);
}
.otherbar {
    grid-area: otherbar;
    background-image: url(../img/bar/bar3.png);
}
.mainbar, .shopbar, .otherbar {
    background-size: 33.33vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.iconsbar{
    width: 22vw;
    height: auto;
}