div.shop div.box {
    margin-top: -2vh;
    width: 90vw;
    height: 14vh;
    background-image: url(../img/box.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
div.box h4 {
    text-align: left;
    margin-top: 2vh;
    margin-left: 2vw;
}
div.box p {
    text-align: right;
    font-size: 7vw;
    text-shadow: 0.35vw  0px 0px black,
    0px  0.35vh 0px black,
   -0.35vw  0px 0px black,
    0px -0.35vh 0px black;
}
div.box p.right{
    text-align: right;
    margin-right: 2vw;
    margin-top: -10vh;
    line-height: 7.5vh;
}
div.box p.price{
    position: absolute;
    text-align: center;
    margin-top: 0.2vh;
    font-size: 7vw;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.box img{
    z-index: -1;
    display: block;
    position: absolute;
    bottom: 1.25vh;
    left: 0.5vw;
    width: 50vw;
    height: auto;
    max-height: 14vh;
}