*{
    font-family: Requema;
    text-align: center;
    color:white;
    text-shadow: 0.5vw  0px 0px black,
                 0px  0.5vh 0px black,
                -0.5vw  0px 0px black,
                 0px -0.5vh 0px black;
}
html, body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    user-select: none;
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    background: url(../img/Fondos/1_Tierra.png);
    background-size: 100vw;
    animation: moveBackground 10s linear infinite;
}
h1{
    font-size: 11.75vw;
}
h2{
    font-size: 9vw;
}
h3{
    font-size: 8vw;
}
#id_title{
    margin-top: 1.5vh;
}
#id_u, #id_ups{
    margin-top: -5vh;
}
#id_boton{
    width: 75vw;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#id_version{
    font-size: 25px;
    position: absolute;
    top: -30px;
    left: 0px;
    text-shadow: 0.35vw  0px 0px black,
                 0px  0.35vh 0px black,
                -0.35vw  0px 0px black,
                 0px -0.35vh 0px black;
}