*{
    font-family: Requema;
    text-align: center;
    color:white;
    text-shadow: 0.5vw  0px 0px black,
                 0px  0.5vh 0px black,
                -0.5vw  0px 0px black,
                 0px -0.5vh 0px black;
}
html, body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    user-select: none;
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    animation: moveBackground 10s linear infinite 1s;
}
h1{
    font-size: 11.75vw;
}
h2{
    font-size: 9vw;
}
h3{
    font-size: 8vw;
}
.title{
    margin-top: 1.5vh;
}