body {
    background-color: #141414;
  }

img {
    width: 512px;
    height: 512px;
    background-color: #343434;
    border: 1px solid #fff;
  }

.load {
    width: 0px;
    height: 0px;
    display: none;
}