.LoadScreen {
    z-index: 1;
    cursor: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 1;
}

.LoadedText {
    color: #fff;
    text-align: center;
}

.LoadingIcon {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 256px;
    height: 256px;
    position: fixed;
    margin: auto;
    animation: 1000ms linear 100ms infinite IconRotate;
}

.GameScreen {
    background-color: #181d78;
}