@keyframes loading {
  from {
    color: #505050;
    background-color: #555555;
  }
  to {
    color: #e9e9e9;
    background-color: #191919;
  }
}

html {
  background-color: #191919;
  color: #e9e9e9;
  animation: loading 2.5s;
  user-select: none;
}

.Textcontainer {
  user-select: all;
  user-select: contain;
}
