head {
  display: none;
}

body {
  background-color: #000;
  user-select: none;
  margin: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

center {
  text-align: 50%;
}

h1,
h2,
h3 {
  color: #e7e287;
  font-family: "Monaco", Monospace;
}

h1 {
  font-size: 250%;
}

::selection {
  background-color: #e7e287;
  color: #181d78;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 139, 139, 1);
  box-shadow: -5px 0px 10px 0px rgba(0, 139, 139, 0.75);
}

::-webkit-scrollbar:hover {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.30);
  box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.45);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(231, 226, 135, 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(243, 240, 195, 1);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(121, 120, 97, 1);
}