*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #191919;
    filter: blur(5px);
}
img{
    top: 50%;
    position: absolute;
    z-index: 1;
}
div{
    top: 50%;
    width: 1933px;
    height: 2060px;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    border: #191919 5px solid;
}
div:before{
    content: "";
    height: 150%;
    width: 150%;
    position: absolute;
    background: conic-gradient(
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #3363ff,
        #b102b7,
        #fd004c
    );
    transform: rotate(240deg);
    left: -25%;
    top: -25%;
    animation-name: spin ;
    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
@keyframes spin{
    0%{
        transform: rotate(240deg);
    }
    100%{
        transform: rotate(-120deg);
    }
}