*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #191919;
}
img{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 979px;
    height: 1040px;
    position: fixed;
    z-index: 1;
    filter: blur(5px);
}
div{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 979px;
    height: 1040px;
    position: fixed;
    overflow: hidden;
    z-index: -1;
    border: #191919 20px solid;
    filter: blur(5px);
}
div:before{
    content: "";
    width: 150%;
    height: 150%;
    position: absolute;
    background: conic-gradient(
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #3363ff,
        #b102b7,
        #fd004c
    );
    transform: rotate(240deg);
    left: -25%;
    top: -25%;
    animation-name: spin ;
    animation-duration: /*1.3s*/ 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: /*3s*/ 0s;
}
@keyframes spin{
    0%{
        transform: rotate(240deg);
    }
    100%{
        transform: rotate(-120deg);
    }
}