body {
	color: #fff;
	background-color: #000080;
	margin: 0px;
}

img {
	width: 25%;
	height: auto;
	border-radius: 100%;
}

div {
	top: 25%;
	bottom: 25%;
	left: 34.5%;
	right: 25%;
	position: fixed;
}