* {
    transition: 1s;
}

html, body {
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    margin: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #dfddff;
    color: #1e1e1e;
}

head {
    display: none;
}

button {
    background-color: #808080;
    color: #fff;
    font-weight: bold;
    transition: 0.25s;
    border: #000 2px solid;
    cursor: pointer;
}

button:hover {
    background-color: #404040;
    color: #ddd;
}

button:active {
    background-color: #202020;
    color: #bbb;
}

#FPS {
    position: absolute;
    margin: auto;
    font-size: medium;
    transition: 0.1s;
    left: 0px;
    top: 0px;
}

#Saving {
    position: absolute;
    right: 26%;
    left: auto;
    top: auto;
    text-align: right;
    font-size: large;
    transition: 5s;
}

#MineBtn {
    font-size: xx-large;
    width: 128px;
    height: 128px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    display: block;
    position: absolute;
    padding: 0px;
}

#Earned {
    text-align: center;
    margin: auto;
    top: 7%;
    bottom: 94%;
    left: 0px;
    right: 0px;
    position: absolute;
}

#Title {
    text-align: center;
    margin: auto;
    top: 1%;
    bottom: 99%;
    left: 0px;
    right: 0px;
    position: absolute;
    cursor: pointer;
}

/* div#Inventory */

div#Inventory{
    height: 100%;
    width: 25%;
    right: 25%;
    left: 75%;
    top: 0px;
    bottom: 0px;
    position: absolute;
    margin: auto;
    transition: 1s;
}

div#Inventory h2 {
    font-size: xx-large;
    margin-left: 10px;
    width: max-content;
}

div#Inventory h3 {
    font-size: x-large;
    margin-left: 10px;
    width: max-content;
    margin-block-end: auto;
    margin-block-start: auto;
    cursor: pointer;
}

div#Inventory button#SellBtn {
    font-size: x-large;
    width: 64px;
    height: 64px;
    text-align: center;
    padding: 0px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 10px;
}

/* div#Furnace */

div#FurnaceBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
div#Furnace {
	width: 70%;
	height: 95%;
	position: absolute;
	margin: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 25%;
	background:#796853;
	border: #5f9ea0 3px solid;
	border-radius: 25px;
}
div#Furnace div#close::after {
	width: auto;
	height: auto;
	cursor: pointer;
	position: absolute;
	top: -1%;
	left: -1%;
	content: "\274c";
	font-size: 35px; 
	color: #FFF;
	line-height: 40px;
	text-align: center;
	filter: sepia(0.9);
	border-radius: 100%;
}
div#Furnace div#progressBar {
	margin-left: 50%;
	margin-top: 10%;
	margin-bottom: auto;
	margin-right: auto;
	position: relative;
}
div#Furnace div#progress {
	max-width: 100%;
	height: 200px;
	background-color: rgba(0, 0, 0, 1);
    border-bottom: rgba(0, 0, 0, 0.9) 2px solid;
	margin: 0px;
    transition: 0.5s ease-in-out;
}
div#Furnace div#progressGradient {
	background: linear-gradient(to top, #f20 0%, #ff0 50%, #0f4 100%);
    border: #000 3px solid;
    border-radius: 5% 5% 5% 5%;
	width: 50px;
	height: 200px;
	margin: 0px;
	position: absolute;
}
div#Furnace div#Extra {
	position: absolute;
	margin-left: 3%;
	margin-top: 3%;
	color: #fff;
	filter: sepia(1);
}
div#Furnace button {
    font-weight: bold;
    color: #000;
}
div#Furnace button:hover {
    font-weight: bold;
    color: #999;
}
div#Furnace button:active {
    font-weight: bold;
    color: #eee;
}

/* div#Shop */ /* div#Craft */

div#Shop,
div#Craft,
div#FurnaceOpen {
    transition: 1s;
    margin-left: 1%;
    width: max-content;
}

/* div#Opciones */

div#OptionsBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
div#Options {
	width: 98%;
	height: 98%;
	position: absolute;
	margin: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
    background-color: #dfddff;
    color: #1e1e1e;
	border: #000 3px solid;
	border-radius: 5%;
}

div#Options div#container {
    width: 88%;
    height: 88%;
	position: absolute;
	margin: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}
div#Options h1#TitleOptions {
    text-align: center;
    margin: auto;
    top: 1%;
    bottom: 99%;
    left: 0px;
    right: 0px;
    position: absolute;
    cursor: pointer;
}
div#Options div#container button,
div#Options div#container input,
div#Options div#container h3 {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
div#Options div#container button:hover {
    filter: grayscale(0.3);
}
div#Options div#container button:active {
    filter: grayscale(0.7);
}
div#Options div#container button#Reset {
    background-color: #f00;
}
div#Options div#container button#Save {
    background-color: #080;
}
div#Options div#container button#EarnTexts {
    background-color: #080;
}