@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backgroundloading {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #191919;
  }
}

@keyframes rainbow {
  0% {
    color: #ffa500;
    text-decoration: underline solid #7f5200;
  }
  10% {
    color: #800080;
    text-decoration: underline solid #0e477f;
  }
  20% {
    color: #ff0000;
    text-decoration: underline solid #7f0949;
  }
  30% {
    color: #5f9ea0;
    text-decoration: underline solid #007f7f;
  }
  40% {
    color: #ffff00;
    text-decoration: underline solid #003f00;
  }
  50% {
    color: #ff7f50;
    text-decoration: underline solid #7f3f27;
  }
  60% {
    color: #008000;
    text-decoration: underline solid #7f7f00;
  }
  70% {
    color: #00ffff;
    text-decoration: underline solid #2f4e4f;
  }
  80% {
    color: #ff1493;
    text-decoration: underline solid #7f0000;
  }
  90% {
    color: #1e90ff;
    text-decoration: underline solid #3f003f;
  }
  100% {
    color: #ffa500;
    text-decoration: underline solid #7f5200;
  }
}

html {
  animation: backgroundloading 2.5s;
  background-color: #191919;
  user-select: none;
}

body {
  animation: loading 3.5s;
}

h1,
h2 {
  color: #e6e6e6;
  font-family: verdana;
  animation: loading 1.5s;
}

.version {
  position: absolute;
  animation: loading 1.5s;
}

.countdown {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  cursor: default;
  position: absolute;
  animation: loading 2s;
  margin-left: 125px;
}

::selection {
  color: #f7f7f7;
  background: #7f7f7f;
}

::-moz-selection {
  color: #f7f7f7;
  background: #7f7f7f;
}

.crosshair {
  cursor: crosshair;
}

.default {
  cursor: default;
}

.grabbing {
  cursor: grabbing;
}

a {
  color: #7f7f7f;
  text-decoration: underline #7f7f7f;
  animation: loading 1.5s;
  transition: 0.2s;
}

a:hover {
  color: #fff;
  text-decoration: underline #000;
  cursor: pointer;
}

.title {
  text-align: center;
  color: #e6e6e6;
  text-decoration: underline solid #7f7f7f;
  animation: loading 1.5s;
  transition: 0.2s;
}

.title:hover {
  color: #7f7f7f;
  text-decoration: underline solid #000;
  cursor: pointer;
}

.rainbow {
  animation: rainbow 20s infinite;
  cursor: pointer;
  transition: 0.2s;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "TyranitarGarchomp Diego SylveonLuvdisc";
  align-items: center;
  position: relative;
}

/* .container * {
  border: 1px solid green;
} */

.SylveonLuvdisc {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: SylveonLuvdisc;
  margin-right: 50px;
}

.TyranitarGarchomp {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: TyranitarGarchomp;
  margin-left: 50px;
}

.Diego {
  grid-area: Diego;
  animation: loading 1s;
  transform-origin: 50% 50%;
}

.items {
  cursor: crosshair;
  margin-left: 45px;
  margin-right: 45px;
  animation: loading 1.5s;
}

.upgrades {
  cursor: crosshair;
  animation: loading 1.5s;
}

center {
  width: max-content;
  height: max-content;
  text-align: center;
}